body {
  margin: 0;
  padding: 0;
  background-color: F7F7F7;
  font-family: Lexend, Roboto, Arial, sans-serif;
  font-weight: 300;
}

container {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 10px;
}

#sidebar {
  background-color: #121212;
}

#create {
  
}

#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
}

input {
  font-size: 16px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}

