* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: F7F7F7;
  font-family: Lexend, Roboto, Arial, sans-serif;
  font-weight: 300;
  display: grid;
  grid-template-columns: 30% auto;
}

#sidebar {
  background-color: #121212;
  color: white;
  height: 100vh;
  padding: 10px; 
}

#create {
  padding: 20px;
}

#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
  padding: 10px;
  border: 1px solid black;
}

input {
  font-size: 16px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

